@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
body{
    font-family: 'Nunito', sans-serif;
}

/* nav */

.caja-nav{
   /*  background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

#cj-nav{
  /*   background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 20%;
    position: relative;
    left: 39%;
}

#gmail {
    margin-right: 10px;
    text-decoration: none;
    color: rgb(155, 155, 155);

}

#img{
    margin-right:10px ;
    text-decoration: none;
    color: rgb(155, 155, 155);
}

#puntos{
    margin-right:10px ;
}

#user{
    margin-right:10px ;
    text-decoration: none;
    color: rgb(155, 155, 155);
}


/* Buscador */

.caja-principal{
      /* background-color: chartreuse;   */
    height: 300px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    max-height: 305px;
    
}

.caja-img{
/*   background-color: brown;   */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.caja-bus{
   /*   background-color: blue;  */
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    /* border: solid rgb(224, 224, 224) 3px; */
    border-radius: 100px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

#lupa{
    margin-right: 7px;
    left: 31%;
    position: fixed;
}

#mic{
    margin-left: 7px;
    left: 66%;
    position: fixed;
}

#text{
    color: rgb(155, 155, 155);
    left: 33%;
    position: fixed;
}

.botones-2{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


#boton-1{
    background-color:rgba(197, 197, 197, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    height: 45px;
    width: 40%;
    margin-right: 10px;
    text-align: center;
}

#boton-2{
    background-color:rgba(197, 197, 197, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    height: 45px;
    width: 40%;
    margin-left: 10px;
    text-align: center;
}

/* FOOTER */
.caja-foot{
    background-color: rgb(196, 196, 196);
    height: 40px;
    width: 100%;
    margin-top: 4%;
    border-bottom: 1px solid rgb(117, 115, 115);
}

.caja-footer{
    background-color: rgb(131, 127, 127);
    flex-wrap: wrap;
    flex-direction: row;
    height: 40px;
    width: 100%;
   
}

#arg{
   display: flex;
  /*  background-color: aqua; */
   color: (196, 196, 196);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 6%;
   height: 40px;
}

#cj-foot{
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: row;
    height: 35px;
    width:100%;
    position: fixed;
    flex-wrap: wrap;
    
    
}

footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
}

#sg-publi-neg{
/*     background-color: aqua; */
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


}





#cj-cfb{
   /*   background-color: rgb(255, 0, 0);  */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:25%;
    
}

#pr-c-pre{
/*     background-color: rgb(105, 85, 219);  */
    display: flex;
   
    align-items: center;
    width:30%;  
    position: relative;
    left: 25%;
}


#con{
    margin-right: 10px;
}

#pri{
    margin-right: 10px;
} 

#publi{
    margin-right: 10px;
}

#sg{
  margin-right: 10px;
  
 
}


footer a{
    text-decoration: none;
    color: black;
}


@media screen and (max-width:1130px){
/* body{
    background-color: aqua;
} */
    #arg{
        display: flex;
     /*    background-color: aqua; */
        color: (196, 196, 196);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14%;
        height: 40px;
     }
    #sg-publi-neg{
    /*     background-color: aqua; */
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        word-spacing: 2px;
    
    }
     
    #cj-cfb{
        /*  background-color: rgb(255, 0, 0);  */
        display: flex;
        flex-wrap: wrap; 
        width:25%;
        
    }
    
    #pr-c-pre{
       /*  background-color: rgb(105, 85, 219);  */
        display: flex;
        align-items: center;
        width:30%;  
        position: relative;
        left: 17%;
    }
}

@media screen and (max-width:1010px){
/*     body{
        background-color: rgb(107, 126, 13);
    } */
    #arg{
        margin-left: -10px;
    }

    #sg-publi-neg{
       /*  background-color: aqua; */
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        word-spacing: 2px;
    
    }
     
    #cj-cfb{
        /*  background-color: rgb(255, 0, 0);  */
        display: flex;
        flex-wrap: wrap;       
        width:25%;
        
    }
    
    #pr-c-pre{
      /*   background-color: rgb(105, 85, 219);  */
        display: flex;
        align-items: center;
        width:30%;  
        position: relative;
        left: 14%;
    }
}

@media screen and (max-width:900px){
/*     body{
        background-color: rgb(255, 0, 170);
    } */

    #arg{
        margin-left: -15px;
    }

    #sg-publi-neg{
       /*  background-color: aqua; */
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        word-spacing: 2px;
    
    }
     
    #cj-cfb{
        /*  background-color: rgb(255, 0, 0);  */
        display: flex;
        flex-wrap: wrap;
        width:25%;
        
    }
    
    #pr-c-pre{
       /*  background-color: rgb(105, 85, 219); */ 
        display: flex;
        align-items: center;
        width:30%;  
        position: relative;
        left: 12%;
    }
}

@media screen and (max-width:875px){
/*     body{
        background-color: rgb(60, 255, 0);
    } */
    #arg{
        margin-left: -2px;
    }
    #cj-nav{
        /*   background-color: chocolate; */
          display: flex;
          justify-content: center;
          align-items: center;
          height: 45px;
          width: 20%;
          position: relative;
          left: 34%;
      }

    #text{
        font-size: small;
    }
    .caja-footer{
      /*   background-color: rgb(83, 50, 50); */
        flex-wrap: wrap;
        flex-direction: row;
        height: 80px;
        width: 100%;
        
    }

    #cj-foot{
     /*    background-color: chartreuse; */
        display: flex;
        flex-direction: column;
        height: 120px;
        width:100%;
        position: fixed;
        flex-wrap: wrap;
        
        
    }

    #sg-publi-neg{
  /*       background-color: aqua; */
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        left: 2%;

    
    }
     
    #cj-cfb{
      /*    background-color: rgb(255, 0, 0);  */
        display: flex;
        flex-wrap: wrap;
        width:100%;
        position: relative;
        left: 2%;
        
    }
    
    #pr-c-pre{
/*         background-color: rgb(105, 85, 219);  */
        display: flex;
        align-items: center;
        width:100%;  
        position: relative;
        left: 2%;
    }

    #mic{
        margin-left: 7px;
        left: 64%;
        position: fixed;
    }
}   

@media screen and (max-width:750px){
/*     body{
        background-color: rgb(37, 14, 148);
    } */
    #arg{
        margin-left: 2px;
        
    }
}


@media screen and (max-width:640px){
    #arg{
        margin-left: 8px;
        position: fixed;
    }
/*     body{
        background-color: rgb(196, 49, 49);
    } */
    #cj-nav{
        /*   background-color: chocolate; */
          display: flex;
          justify-content: center;
          align-items: center;
          height: 45px;
          width: 20%;
          position: relative;
          left: 30%;
      }

    #text{
        color: rgb(155, 155, 155);
        left: 34%;
        position: fixed;
        font-size: x-small;
    }
    .caja-footer{
      /*   background-color: rgb(83, 50, 50); */
        flex-wrap: wrap;
        flex-direction: row;
        height: 80px;
        width: 100%;
        
    }

    #cj-foot{
     /*    background-color: chartreuse; */
        display: flex;
        flex-direction: column;
        height: 120px;
        width:100%;
        position: fixed;
        flex-wrap: wrap;
        
        
    }

    #sg-publi-neg{
  /*       background-color: aqua; */
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        left: 2%;

    
    }
     
    #cj-cfb{
      /*    background-color: rgb(255, 0, 0);  */
        display: flex;
        flex-wrap: wrap;
        width:100%;
        position: relative;
        left: 2%;
        
    }
    
    #pr-c-pre{
/*         background-color: rgb(105, 85, 219);  */
        display: flex;
        align-items: center;
        width:100%;  
        position: relative;
        left: 2%;
    }

    #mic{
        margin-left: 7px;
        left: 64%;
        position: fixed;
    }

    #boton-1{
 
        font-size: small;
    }
    
    #boton-2{
        font-size: small;
    }


}    

@media screen and (max-width:500px){
/*     body{
        background-color: rgb(242, 255, 0);
    }
 */


    .caja-principal{
        /* background-color: chartreuse;   */
      height: 300px;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 9%;
      max-height: 305px;
      
  }
  
    #arg{
        position: fixed;
        left: -10px;
    }
    .caja-nav{
        /*  background-color: aqua; */
         display: flex;
         justify-content: center;
         align-items: center;
         height: 50px;
         width: 90%;
     }
     

     

    #cj-nav{
        /*   background-color: chocolate; */
          display: flex;
          justify-content: center;
          align-items: center;
          height: 45px;
          width: 20%;
          position: relative;
          left: 30%;
      }

    #text{
        color: rgb(155, 155, 155);
        left: 30%;
        position: fixed;
        font-size: xx-small;
    }
    .caja-footer{
      /*   background-color: rgb(83, 50, 50); */
        flex-wrap: wrap;
        flex-direction: row;
        height: 80px;
        width: 100%;
        
    }

    .caja-foot{
        background-color: rgb(196, 196, 196);
        height: 40px;
        width: 100%;
        margin-top: 4%;
        border-bottom: 1px solid rgb(117, 115, 115);
    }
    

    #cj-foot{
     /*    background-color: chartreuse; */
        display: flex;
        flex-direction: column;
        height: 120px;
        width:80%;
        position: fixed;
        flex-wrap: wrap;
        
        
    }

    #sg-publi-neg{
  /*       background-color: aqua; */
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        left: 2%;

    
    }
     
    #cj-cfb{
      /*    background-color: rgb(255, 0, 0);  */
        display: flex;
        flex-wrap: wrap;
        width:100%;
        position: relative;
        left: 2%;
        
    }
    
    #pr-c-pre{
/*         background-color: rgb(105, 85, 219);  */
        display: flex;
        align-items: center;
        width:100%;  
        position: relative;
        left: 2%;
    }

    #mic{
        margin-left: 7px;
        left: 70%;
        position: fixed;
    }

    #lupa{
        margin-right: 7px;
        left: 25%;
        position: fixed;
    }
    

    #boton-1{
 
        font-size: xx-small;
    }
    
    #boton-2{
        font-size: xx-small;
    }
#arg{
    margin-left: 30px;
}

}    

@media screen and (max-width:320px){
/*     body{
        background-color: rgb(0, 255, 55);
    }  */
    #arg{
        position: fixed;
        left: -1px;
    }
    .caja-principal{
        /* background-color: chartreuse;   */
      height: 300px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 9%;
      max-height: 305px;
      
  }

    .caja-nav{
        /*  background-color: aqua; */
         display: flex;
         justify-content: center;
         align-items: center;
         height: 50px;
         width: 90%;
     }
     

    #cj-nav{
        /*   background-color: chocolate; */
          display: flex;
          justify-content: center;
          align-items: center;
          height: 45px;
          width: 20%;
          position: relative;
          left: 30%;
      }

    #text{
        color: rgb(155, 155, 155);
        left: 22%;
        position: fixed;
        font-size: xx-small;
    }
    .caja-footer{
      /*   background-color: rgb(83, 50, 50); */
        flex-wrap: wrap;
        flex-direction: row;
        height: 80px;
        width: 100%;
        
    }

    .caja-foot{
        background-color: rgb(196, 196, 196);
        height: 40px;
        width: 100%;
        margin-top: 4%;
        border-bottom: 1px solid rgb(117, 115, 115);
    }
    

    #cj-foot{
     /*    background-color: chartreuse; */
        display: flex;
        flex-direction: column;
        height: 120px;
        width:80%;
        position: fixed;
        flex-wrap: wrap;
        
        
    }

    #sg-publi-neg{
  /*       background-color: aqua; */
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        left: 2%;

    
    }
     
    #cj-cfb{
      /*    background-color: rgb(255, 0, 0);  */
        display: flex;
        flex-wrap: wrap;
        width:100%;
        position: relative;
        left: 2%;
        
    }
    
    #pr-c-pre{
/*         background-color: rgb(105, 85, 219);  */
        display: flex;
        align-items: center;
        width:100%;  
        position: relative;
        left: 2%;
    }

    #mic{
        margin-left: 7px;
        left: 77%;
        position: fixed;
    }

    #lupa{
        margin-right: 7px;
        left: 16%;
        position: fixed;
    }

    #boton-1{
 
        font-size: xx-small;
    }
    
    #boton-2{
        font-size: xx-small;
    }
#arg{
    margin-left: 30px;
}
}

